.mt-15{
  margin-top: 15px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mb-5{
  margin-bottom: 5px;
}
.ml-15 {
  margin-left: 15px;
}
h5 {
  text-align: center;
}
.full_screen {
  width: 100%;
}
.label:hover {
  cursor: pointer;
}
//overwrite materialize lib
.btn-warning {
  color: #eea236 !important;
  background-color: #56ccb1 !important;
}
.btn-danger {
  color: #d43f3a !important;
  background-color: #56ccb1 !important;
}
.btn-success {
  color: #4cae4c !important;
  background-color: #56ccb1 !important;
}
.btn, .btn-large {
  display: inline-block !important;
    padding: 6px 12px !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}