@mixin center_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@mixin center_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
body{
  padding:0;
  margin:0;
  .container{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    // align-items: stretch !important;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    .left-box{
      @include center_col();
      color: white;
      width: 50%;
      height: 100vh;
      background-color: #56ccb1;
      background-image: url('/background.png');
      .content{ 
        @include center_col();
        .logo{
          img{
            width: 120px;
            height: 120px;
          }
        }
        .slogan{
          font-size: 24px;
        }
        .name{
          font-size: 3rem;
        }          
      }
      .address {
        font-size: 20px;
        position: absolute;
        bottom: 50px;
        align-items: center;
      }
    }
    .right-box{
      width: 50%;
      height: 100vh;
      @include center_col();
      .box{
        @include center_col();
        width: 85%;
        height: 100%;
        max-height: 460px;
        border: 1px rgba(167, 167, 167, 0.5) solid;
        box-shadow: 3px 3px 5px rgba(167, 167, 167, 0.5); 
        .content{
          width: 75%;
          @include center_col();
          .text{
            color: #56ccb1;
            font-size: 2.92rem;
            margin: 10px 0;
          }
          .input{
            width: 100%;
          }
          .button{
            @include center_row();
            margin: 20px 0;
            .btn {
              margin: 0 4px;
            }
            .btn_forgot {
              color: gray;
            }
          }
          .address{
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width:1200px){
  body{
    .container{
      .right-box{
        .box{
          .content{
            width: 75%;
            .button{
              @include center_col();
              margin: 0  !important;
              .btn_container{
                @include center_row();
                margin-bottom: 5px;
                .btn {
                  margin: 1px 4px !important;
                }
              }
            }
          }
        }
      }
    }
  }  
}

@media (max-width:1024px){
  body{
    .container{
      .left-box{
        width: 40vw;   
        .content{
          .logo{
            img{
              width: 80px;
              height: 80px;
            }
          }
          .slogan{
            font-size: 14px;
          }
        } 
        .address{
          font-size: 14px;
        }        
      }
      .right-box{
        width: 60vw;  
        .box{
          width: 85%;
          height: 75vh;
        }  
      }
    }
  }
}

@media (max-width:600px) {
  body{
    padding:0;
    margin:0;
    .container{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      line-height: 1.5;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      .left-box{
        @include center_col();
        color: white;
        width: 100vw;
        height: 40vh;
        background-color: #56ccb1;
        background-image: url('/background.png');
        .content{ 
          @include center_col();
          .logo{
            img{
              width: 80px;
              height: 80px;
            }
          }
          .slogan{
            font-size: 14px;
          }
          .name{
            font-size: 3rem;
          }          
        }
        .address {
          font-size: 14px;
          position: absolute;
          bottom: 20px;
          align-items: center;
          z-index: 100;
          color: gray !important;
        }
      }
      .right-box{
        width: 100vw;
        height: 60vh;
        @include center_col();
        .box{
          @include center_col();
          width: 100%;
          height: 100%;
          border: none !important;
          box-shadow: 0 0 0 0;
          .content{
            width: 85% !important;
            @include center_col();
            .text{
              display: none;
            }
            .input{
              width: 100%;
              label{
                color: #56ccb1 !important;
              }
              input#input_0{
                  border-bottom: 1px #56ccb1 solid !important;
              }
              input#input_1{
                  border-bottom: 1px #56ccb1 solid !important;
              }
            }
            .button{
              @include center_col();
              .btn_container{
                @include center_row();
                .btn{
                  margin: 0 4px !important;
                }
              }
              
            }
          }
        }
      }
    }
  }
}


